@charset "utf-8";

/*
   
   
   Layout style sheet for greenthumbery plant subscription   
   
   Filename: gt.css

*/

/* HTML Styles */

html {
  
    background-image: url(backgorund.png); 
    background-size: cover;
   color: rgb(51, 51, 51);
   font-size: 12px;
}


/* Page Body Styles */

body {
  background-color: white;
opacity: 97%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
 
}



/* Body Header Styles */

body > header > img {
    display: block;
    width: 100%;
}
body > header > nav.horizontalNavigation li {
    width: 100%;


}



nav#mainLinks ul li {
    background-color: rgb(19, 43, 13);  
    display: block;
    float: left;
    text-align: center;
    width: 20%; 
}

nav#mainLinks ul li a {
    color: white;   
    display: block;
    height: 2.5em;  
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em; 
    text-decoration: none;
}

nav#mainLinks a:link, nav#mainLinks a:visited {
    color: white;
}

nav#mainLinks a:hover, nav#mainLinks a:active {
    background-color: rgba(206, 247, 193, 0.6);
}

/* Horizontal Navigation Styles */


main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Article  Styles */


article {
    float: left;
}

article header {
    margin: 20px auto;  
    width: 70%;
}

article h1, h2, h3, h4{
    color: rgb(98, 160, 82);    
    font-family: sans-serif;
    font-size: 3em;
    text-align: left;
}




/* Figure Box Styles */

figure {
    margin: 20px auto 0px;
    width:80%;

}
 figure img {
     display: block;
     float: left;
     width: 50%;
    
 }

 
/* Aside Styles */

aside {
    background-color: rgba(206, 247, 193, 0.6);
    float: right;
    margin-right: 15%;
    padding: 24px;
    width: 26%;  
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    
}

 aside h1 {
    color: rgb(45, 93, 62); 
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
h5 {
    color: rgb(45, 93, 62); 
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
}


aside a:link, aside a:visited {
    color: rgb(45, 93, 62);
}

aside a:hover, aside a:active {
    background-color: rgb#65ad85;
}

/* Section styles */



figure {
margin: 20px auto 0px;
width: 80%;



}
 section p {
     text-align: center;
     max-width: 300px;
     font-size: 1.5em;

 }
/* Footer Styles */

footer {
    margin-top: 0;
    background-color: rgb(19, 43, 13);
    color: white;   
    display: block;
    padding: 25px;
    font-size: 1.5em;
    text-align: center;
}


/*Gallery Styles*/
<style type="text/css">
	body {
		background: #222;
		margin: 0;
	}
	.thumbnails img {
		height: 80px;
		border: 4px solid rgb(8, 41, 28);
		padding: 1px;
		margin: 0 10px 10px 0;
	}

	.thumbnails img:hover {
		border: 3px solid #65ad85;
		cursor:pointer;
	}

	.preview img {
		border: 4px solid rgb(10, 49, 26);
		padding: 1px;
		width: 600px;
        height: 800px;
	}
    /* video style */
      main video {
        margin-left: auto;
        margin-right: auto;
        border: 4px solid rgb#65ad85;
    }



}

</style>

